/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('src/assets/image/background1.jpeg');
    height: 100vh;
  }
  
  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px #8cfff41a;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #e070a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #de3064;
  }

  .color-box {
    margin: 20px auto;
    transition: background-color 0.5s ease;
  }
  

  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  